	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">ABOUT GANGA GLORY</h2>
						<p>हमारी 145 साल पुरानी विरासत झमेली साव की रसोई से आज तक नारी शक्ति द्वारा संचालित ऑल-विमेन कंपनी स्वाद, शुद्धता और परंपरा का वादा...<a href="about.html" class="readMoreTxt">Read More</a></p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">मुख्य पेज | <span>Home</span></a></li>
							<li><a href="about.html">हमारी विरासत | <span>Our Heritage</span></a></li>
							<li><a href="products.html">उत्पाद | <span>Products</span></a></li>
							<li><a href="news.html">समाचार और मीडिया | <span>News & Media</span></a></li>
							<li><a href="contact.html">संपर्क | <span>Contacts</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Our Products</h2>
						<ul>
							<li><a href="products.html">भाजी | <span>Bhaji</span></a></li>
							<li><a href="products.html">नमकीन | <span>Namkeen</span></a></li>
							<li><a href="products.html">मिठाई | <span>Mithai</span></a></li>
							<li><a href="products.html">Wedding Packages</a></li>
							<li><a href="products.html">Bulk Orders</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><i class="fas fa-map-marker-alt"></i> Plot No. 1/30/26 <br> Aggarwal Colony, Nazafgarh <br> New Delhi</li>
							<li><a href="mailto:seva@GangaGlory.com"><i class="fas fa-envelope"></i> seva@GangaGlory.com</a></li>
							<li><a href="tel:8595560058"><i class="fas fa-phone"></i> 011-79664901/8595560058</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<p>Copyrights &copy; 2025 - <a href="/">GangaGlory</a>,  All Rights Reserved.Powered by SAMAK - An All-Women Company <br />Design By <a href="https://www.webcreatix.com">WebCreatix.com</a>
					</p>
				</div>
				<div class="col-lg-4 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	 <a href="https://wa.me/918595560058" class="whatsapp-floating" target="_blank"><i class="fab fa-whatsapp"></i>
</a>