<div class="marquee">
  <span><b>145 साल पुरानी परंपरा का स्वाद — अब दिल्ली में : </b>झमेली साव की 1880 की रसोई से लेकर आज तक — गंगा ग्लोरी लाता है वही प्रामाणिक भाजी, नमकीन और मिठाई, नारी शक्ति द्वारा संचालित आधुनिक तरीके से।</span>
</div>
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<div class="site-logo">
						<a href="/">
							<img src="assets/img/logo.png" alt="GangaGlory.com">
						</a>
					</div>
					<nav class="main-menu">
						<ul>
							<li><a href="/">मुख्य पेज<span>Home</span></a></li>
							<li><a href="about.html">हमारी विरासत<span>Our Heritage</span></a></li>
							<li><a href="products.html">उत्पाद<span>Products</span></a></li>
							<!-- <li><a href="">हमारी कहानियां<span>Our Stories</span></a></li>
							<li><a href="">पाक विधि<span>Recipies</span></a></li> -->
							<li><a href="news.html">समाचार और मीडिया<span>News & Media</span></a></li>
							<li><a href="contact.html">संपर्क<span>Contacts</span></a></li>
							<li>
								<div class="header-icons">
									<a class="shopping-cart" href="tel:8595560058"><i class="fas fa-phone"></i> 8595560058</a>
								</div>
							</li>
						</ul>
					</nav>
					<div class="mobile-menu"></div>
				</div>
			</div>
		</div>
	</div>
</div>
